.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 70px calc(100%-70px);
  margin: 0;
}

header {
  grid-area: header;
  background: #cf3f02;
  width: 100%;
}

header .header_navigation {
  display: flex;
  height: 70px;
  align-items: center;
  font-size: 0.9em;
  padding-left: 10px;
}

header .header_navigation .header_navigation_title {
  margin-right: auto;
  font-size: 20px;
}

header h1 {
  color: #ffffff;
}

main {
  grid-area: main;
}


.imgContainer {
  background-color: #444;
  color: #fff;
  /* border-radius: 4px; */
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  font-size: 120%;
  cursor: pointer;
}