.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 60px calc(100%-60px);
  margin: 0;
}

main {
  grid-area: main;
}


.imgContainer {
  background-color: #999;
  color: #fff;
  /* border-radius: 4px; */
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  font-size: 120%;
  cursor: pointer;
}